@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");


/* body {
  background-color: rgba(0, 0, 0, 0.516);
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  
} */
/* .card{
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
} */
 .cartitem{
  cursor: pointer;
 }
.wrapper{
    justify-content: center;
    
}
.signup-container{
    display:flex;
    justify-content:left;

}
.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form, .signup-form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  width: 400px;
}
.login-btn
{
    width: 100%;
    font-size: 30px;
    
    border-radius: 5px;
    justify-content: center;
}
.navbar{
    background-image: url('/Originals/navbar2.jpg');
    
}
.bill-container {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
  color: #bb2727;
  font-size: 14px;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
  margin-right: auto;
}

.forget a {
  color: #e6283e;
  text-decoration: none;
}

.forget a:hover {
  text-decoration: underline;
}




input::placeholder {
 color: #555;
  opacity: 1; /* important for full white */
}